#viewer {
  padding-top: 45px;
}

#editor {
  padding-top: 45px;
}

#code {
  border: 1px solid #eee;
}

.filter-modal {
  top: 120px !important;
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5), 0 0 32px rgba(0, 0, 0, 0.25) !important;
}

.login-form {
  width: 600px;
  margin: 100px auto 100px;
}

.login-form input {
  margin-bottom: 15px;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
